@font-face {
  font-family: 'Lastik';
  src: url('/fonts/Lastik-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
